# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# OS files
.DS_Store

#Documents
data/docs

# ChromaDB data (if you prefer to not include DB files)
/data/chroma_db/

# Extracted images from PDFs
app/static/images/

# Environment files
.env

# Streamlit secrets
.streamlit/secrets.toml
